<!-- 2019-10-01
1) "The «Estimate Shipping and Tax» block passes an incomplete postal code to the server part of Magento":
https://github.com/p-pcs/core/issues/11
2) I copied https://github.com/magento/magento2/blob/2.3.2/app/code/Magento/Ui/view/frontend/web/templates/form/element/input.html
and removed `valueUpdate: 'keyup'` from it. -->
<input
	class='admin__control-text'
	data-bind="
		attr: {
			'aria-describedby': noticeId
			,disabled: disabled
			,id: uid
			,maxlength: 255
			,name: inputName
			,placeholder: placeholder
		}
		,event: {change: userChanges}
		,hasFocus: focused
		,value: value
	"
	type='text'
/>