<?xml version='1.0'?>
<config
	xsi:noNamespaceSchemaLocation='urn:magento:framework:Acl/etc/acl.xsd'
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
>
	<acl>
		<resources>
			<resource id='Magento_Backend::admin'>
<!-- 2019-10-23
"Make the access to the Iksanika's Stock Inventory Manager module controllable per a role":
https://github.com/p-pcs/core/issues/21 -->
				<resource id='PPCs_Core::Iksanika_Stockmanage' title='Iksanika Stock Inventory Manager' sortOrder='-1'/>
			</resource>
		</resources>
	</acl>
</config>