<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2019-10-22
1) "Remove the «Websites» column from the Iksanika's Stock Inventory Manager's grid":
https://github.com/p-pcs/core/issues/12
2) "Remove the «Visibility» column from the Iksanika's Stock Inventory Manager's grid":
https://github.com/p-pcs/core/issues/13
3) "Remove the «Type» column from the Iksanika's Stock Inventory Manager's grid":
https://github.com/p-pcs/core/issues/14
4) "Make the «Cost» and «Price» columns of the the Iksanika's Stock Inventory Manager's grid editable":
https://github.com/p-pcs/core/issues/17
5) "The «Brand» column of the Iksanika's Stock Inventory Manager's grid
does not show values for some products on the live website": https://github.com/p-pcs/core/issues/18
6) "The «Cost» column of the Iksanika's Stock Inventory Manager's grid does not show values for some products":
https://github.com/p-pcs/core/issues/19
7) "Add the «Vendor SKU/EAN» column from the Iksanika's Stock Inventory Manager's grid":
https://github.com/p-pcs/core/issues/20 -->
	<type name='Iksanika\Stockmanage\Block\Adminhtml\Product\Grid'>
		<plugin
			name='PPCs\Core\Plugin\Iksanika\Stockmanage\Block\Adminhtml\Product\Grid'
			type='PPCs\Core\Plugin\Iksanika\Stockmanage\Block\Adminhtml\Product\Grid'
		/>
	</type>
<!-- 2019-10-22
"Make the «Cost» and «Price» columns of the the Iksanika's Stock Inventory Manager's grid editable":
https://github.com/p-pcs/core/issues/17 -->
	<type name='Iksanika\Stockmanage\Controller\Adminhtml\Product\MassUpdateProducts'>
		<plugin
			name='PPCs\Core\Plugin\Iksanika\Stockmanage\Controller\Adminhtml\Product\MassUpdateProducts'
			type='PPCs\Core\Plugin\Iksanika\Stockmanage\Controller\Adminhtml\Product\MassUpdateProducts'
		/>
	</type>
<!-- 2019-10-22
"Make the «Cost» and «Price» columns of the the Iksanika's Stock Inventory Manager's grid editable":
https://github.com/p-pcs/core/issues/17 -->
	<type name='Magento\Backend\Block\Widget\Grid\Massaction\Extended'>
		<plugin
			name='PPCs\Core\Plugin\Backend\Block\Widget\Grid\Massaction\Extended'
			type='PPCs\Core\Plugin\Backend\Block\Widget\Grid\Massaction\Extended'
		/>
	</type>
<!-- 2019-10-23
"Make the access to the Iksanika's Stock Inventory Manager module controllable per a role":
https://github.com/p-pcs/core/issues/21 -->
	<type name='Magento\Catalog\Controller\Adminhtml\Product'>
		<plugin
			name='PPCs\Core\Plugin\Catalog\Controller\Adminhtml\Product'
			type='PPCs\Core\Plugin\Catalog\Controller\Adminhtml\Product'
		/>
	</type>
</config>