<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2019-10-22
1) "Remove the «Websites» column from the Iksanika's Stock Inventory Manager's grid":
https://github.com/p-pcs/core/issues/12
2) "Remove the «Visibility» column from the Iksanika's Stock Inventory Manager's grid":
https://github.com/p-pcs/core/issues/13 -->
	<type name='Iksanika\Stockmanage\Block\Adminhtml\Product\Grid'>
		<plugin
			name='PPCs\Core\Plugin\Iksanika\Stockmanage\Block\Adminhtml\Product\Grid'
			type='PPCs\Core\Plugin\Iksanika\Stockmanage\Block\Adminhtml\Product\Grid'
		/>
	</type>
</config>